.planDisplay.active {
    display: flex;
    position: fixed;
    background-color: rgb(222, 221, 221);
    top: 13%;
    left: 30%;
    width: 40%;
    min-width: 300px;
    margin-left: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}

.planDisplay {
    display: none;
}


.patientDisplay.active {
    display: flex;
    position: fixed;
    background-color: rgb(222, 221, 221);
    top: 13%;
    left: 30%;
    width: 40%;
    min-width: 300px;
    margin-left: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
}

.patientDisplay {
    display: none;
}

.confirm-approve-popup {
    display: none;
}


.confirm-approve-popup.active {
    display: flex;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    border-radius: 5%;
    padding: 2%;
    background-color: rgb(247, 242, 242);

}

.confirm-reject-popup {
    display: none;
}


.confirm-reject-popup.active {
    display: flex;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    border-radius: 5%;
    padding: 2%;
    background-color: rgb(247, 242, 242);

}

.search-item{
    display: flex;
    margin-bottom: 2%;
}

.card{
    transition: background-color 0.3s ease;
}
.card:hover{
    background-color: rgba(52, 58, 64, 0.85);
    color: aliceblue;
    font-size: 1.2em; 
}
.card:hover .card-title {
    font-size: 1.2em; 
}

.claims-card{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}
.claims-card-component{
    width: calc(33.33% - 5%);
    margin-bottom : 5%;
    margin-left :1%
}

@media (max-width: 768px) {
    .claims-card {
        flex-direction: column;
        width: 500px;
    }
    .claims-card-component{
        width: 100%;
        margin-bottom : 5%;
    }
    .search-item{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-bottom: 2%;
    }
}