<div class="container" style="margin-top: 2%;">
    <div class="search-item">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="search">
        <button type="button" class="btn btn-outline-info ml-3" (click)="searchPlanById()">
          <i class="bi bi-search"></i>
          Search By Id
        </button>
        <button type="button" class="btn btn-outline-info ml-3" (click)="searchPlanByName()">
          <i class="bi bi-search"></i>
          Search By Name
        </button>
        <button type="button" class="btn btn-outline-info ml-3" (click)="getAllPlans()">
          <i class="bi bi-arrow-clockwise"></i>
        </button>    
    </div>

    <div class="plan-card">
      <div *ngFor="let plan of planList" class="plan-card-component">
            <div class="card" style="width: 100%;" >
              <div class="card-body" style="text-align: center;">
                <h5 class="card-title">Plan Id: {{plan.planId}}</h5>
                <p class="card-text">Plan Name: {{plan.planName}}</p>
                <p class="card-text">Description: {{plan.description}}</p>
                <p class="card-text">Date Of Creation: {{plan.dateOfIssue}}</p>
                <p class="card-text">Coverage Amount: {{plan.coverageAmount | currency:'INR'}}</p>
              </div>
            </div>


    <!-- <table class="table mt-10% table-hover table-bordered text-center">
        <thead class="thead-dark">
          <tr>
            <th>#planId</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date of Creation</th>
            <th>Coverage Amount</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of planList">
            <td>{{plan.planId}}</td>
            <td>{{plan.planName}}</td>
            <td>{{plan.dateOfIssue}}</td>
            <td>{{plan.dateOfIssue}}</td>
            <td>{{plan.coverageAmount}}</td>
           
          </tr>
        </tbody>
      </table> -->




