<nav class="navbar sticky-top navbar-dark bg-dark navbar-toggler" style="width: 100%;">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarTogglerDemo01">
        <!-- <div class="d-flex align-items-start  flex-column flex-lg-row"> -->
        <div class="d-flex  flex-column flex-lg-row">
            <a  routerLink="/admin/home" class="nav-link">Home </a>
            <a  routerLink="/admin/patient" class="nav-link" href="#">Patient</a>
            <a  routerLink="/admin/healthCareProvider" class="nav-link" href="#">Health Care Provider</a>
            <a  routerLink="/admin/insuranceCompany"  class="nav-link" href="#">Insurance Company</a>
            <a  routerLink="/admin/plans" class="nav-link" href="#">Plans</a>
            <a  routerLink="/admin/claims" class="nav-link" href="#">Claims</a>
            <a  routerLink="/admin/invoices" class="nav-link" href="#">Invoices</a>
        </div>
    </div>
</nav>

