.statusModelDisplay.active {
    text-align: center;
    justify-content: center;
    display: flex;
    position: fixed;
    background-color: rgb(222, 221, 221);
    top: 50%;
    left: 50%;
    width: 20%;
    min-width: 300px;
    margin-left: auto;
    margin-left: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    border-radius: 5%;
}

.statusModelDisplay {
    display: none;
}

.healthCareProvider-card{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}
.healthCareProvider-card-component{
    width: calc(33.33% - 5%);
    margin-bottom : 1%;
    margin-left :1%
}

.search-item{
    display: flex;
    margin-bottom: 2%;
}

@media (max-width: 768px) {
    .healthCareProvider-card {
        flex-direction: column;
        width: 500px;
    }
    .healthCareProvider-card-component{
        width: 100%;
        margin-bottom : 1%;
        
    }
    .search-item{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-bottom: 1%;
    }
}