.confirm-delete-popup{
    display: none;
}

.confirm-delete-popup.active{
    display: flex;
    position: absolute;
    top:30%;
    left: 30%;
    width: 40%;
    border-radius: 5%;
    padding: 2%;
    background-color: rgb(247, 242, 242);  
}

.insuranceCompany-card{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}
.insuranceCompany-card-component{
    width: calc(33.33% - 5%);
    margin-bottom : 1%;
    margin-left :1%
}

.search-item{
    display: flex;
    margin-bottom: 2%;
}

@media (max-width: 768px) {
    .insuranceCompany-card {
        flex-direction: column;
        width: 500px;
    }
    .insuranceCompany-card-component{
        width: 100%;
        margin-bottom : 1%;

    }
    .search-item{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-bottom: 1%;
    }
}