.request-invoice{
    display: none;
}


.request-invoice.active{
    display: flex;
    position: absolute;
    top:15%;
    left: 30%;
    width: 40%;
    border-radius: 25px;
    background-color: rgb(247, 242, 242);
    padding: 2%;
    border: outset 4px rgb(204, 204, 207);    
    
}