.request-invoice {
    display: none;
}

.request-invoice.active {
    display: flex;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 40%;
    border-radius: 5%;
    background-color: rgb(222, 221, 221);
    padding: 2%;
}
.healthCareProvider-card{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}
.healthCareProvider-card-component{
    width: calc(33.33% - 5%);
    margin-bottom : 1%;
    margin-left :1%
}

.search-item{
    display: flex;
    margin-bottom: 2%;
}

.card{
    transition: background-color 0.3s ease;
}
.card:hover{
    background-color: rgba(52, 58, 64, 0.85);
    color: aliceblue;
    font-size: 1.2em; 
}
.card:hover .card-title {
    font-size: 1.2em; 
}

@media (max-width: 768px) {
    .healthCareProvider-card {
        flex-direction: column;
        width: 500px;
    }
    .healthCareProvider-card-component{
        width: 100%;
        margin-bottom : 1%;
        
    }
    .search-item{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-bottom: 1%;
    }
}