.confirm-purchase-popup {
    display: none;
}

.confirm-purchase-popup.active {
    display: flex;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 40%;
    border-radius: 5%;
    padding: 2%;
    background-color: rgb(222, 221, 221);
}

.search-item{
    display: flex;
    margin-bottom: 2%;
}

.plan-card{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}
.plan-card-component{
    width: calc(33.33% - 5%);
    margin-bottom : 5%;
    margin-left :1%
}

.card{
    transition: background-color 0.3s ease;
}
.card:hover{
    background-color: rgba(52, 58, 64, 0.85);
    color: aliceblue;
    font-size: 1.2em; 
}
.card:hover .card-title {
    font-size: 1.2em; 
}

@media (max-width: 768px) {
    .plan-card {
        flex-direction: column;
        width: 500px;
    }
    .plan-card-component{
        width: 100%;
        margin-bottom : 5%;
    }
    .search-item{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-bottom: 2%;
    }
}