<app-admin></app-admin>
<div class="container" style="margin-top: 2%;">
  <div class="d-flex" style="margin-bottom: 2%;">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button type="button" class="btn btn-outline-info ml-3">Search By Id</button>
    <button type="button" class="btn btn-outline-info ml-3">Search By Name</button>
</div>
<div style="min-width: 100%; overflow-x: scroll; max-width: 100vh; width: 100vh;">
    <table class="table mt-10% table-hover table-bordered text-center">
        <thead class="thead-dark">
          <tr>
            <th>#patientId</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Description Of Treatment</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let patient of patientList">
            <th>{{patient.patientId}}</th>
            <td>{{patient.patientName}}</td>
            <th>{{patient.dob}}</th>
            <th>{{patient.contact}}</th>
            <td>{{patient.address}}</td>
            <th>{{patient.descriptionOfTreatment}}</th>
            <th>{{patient.email}}</th>
            <td>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div >

