<nav class="navbar sticky-top navbar-dark bg-dark navbar-toggler" style="width: 100vh; min-width: 100%;">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarTogglerDemo01">
        <!-- <div class="d-flex align-items-start  flex-column flex-lg-row"> -->
        <div class="d-flex flex-column flex-lg-row">
            <a  routerLink="/patient/home" class="nav-link">Profile</a>
            <a  routerLink="/patient/browsePlans" class="nav-link" href="#">Browse Plans</a>
            <a  routerLink="/patient/activePlans" class="nav-link" href="#">Active Plans</a>
            <a  routerLink="/patient/requestInvoice"  class="nav-link" href="#">Request Invoice</a>
            <a  routerLink="/patient/myinvoices"  class="nav-link" href="#">My Invoices</a>
            <a  routerLink="/patient/claims" class="nav-link" href="#">My Claims</a>
        </div>
    </div>
</nav>
