.plan-details {
    display: none;
}

.plan-details.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 13%;
    left: 30%;
    width: 40%;
    border-radius: 5%;
    padding: 2%;
    background-color: rgb(222, 221, 221);
}

.search-item{
    display: flex;
    margin-bottom: 2%;
}

.claims-card{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
}
.claims-card-component{
    width: calc(33.33% - 5%);
    margin-bottom : 5%;
    margin-left :1%
}

@media (max-width: 768px) {
    .claims-card {
        flex-direction: column;
        width: 500px;
    }
    .claims-card-component{
        width: 100%;
        margin-bottom : 5%;
    }
    .search-item{
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-bottom: 2%;
    }
}