
<div style=" height: 100vh; ">
    <nav class="navbar  navbar navbar-toggler" style=" display: flex;  flex-direction: row; width: 100%; min-width:100vh; opacity: 60%;">
        
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" id="navbarTogglerDemo01" class="d-flex  flex-row" style="padding-top: 2%; padding-bottom: 2%;">
            <img src="../../../../assets/logo.png" alt="Logo" width="50px" height="50px" style="flex: 30%;" >
            <div class="d-flex  flex-column flex-lg-row-reverse">
                <a  routerLink="/feedback" class="nav-link">Feedback</a>
                <a  routerLink="/aboutUs" class="nav-link">About Us</a>
                <a  routerLink="/registration" class="nav-link">Register</a>
                <a  routerLink="/login" class="nav-link">Login</a>
                <a  routerLink="#" class="nav-link">Home </a>
            </div>
        </div>
    </nav>
    <div style=" height: 100vh;  background-image: url('../../../../assets/bghome.jpg'); background-size: cover;">
    </div>
</div>

