
<div style=" height: 100vh; ">
    <nav class="navbar  navbar navbar-toggler" style=" display: flex;  flex-direction: row;min-width:100vh;">
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="navbarTogglerDemo01" class="d-flex flex-column flex-lg-row" style="width: 100%;">
            <img src="../../../../assets/logo.png"  alt="Logo" style="object-fit: fill;" width="100px" height="100px">
            <div class="d-flex  flex-column flex-lg-row ml-lg-auto" style="margin-top: auto; margin-bottom: auto;">
                <a  (click)="openTab('home')" id="button-home" class="nav-link">Home </a>
                <a (click)="openTab('login')" id="button-login" class="nav-link">Login</a>
                <a  (click)="openTab('register')" id="button-register" class="nav-link">Register</a>
                <a  (click)="openTab('aboutUs')"  id="button-aboutUs" class="nav-link">About Us</a>
                <a  (click)="openTab('feedback')" id="button-feedback" class="nav-link">Feedback</a>

                <a  routerLink="/admin/home" class="nav-link">Admin </a>
                <a  routerLink="/healthCareProvider/home" class="nav-link">Health Care</a>
                <a  routerLink="/insuranceCompany/home" class="nav-link">Insurnace</a>
                <a  routerLink="/patient/browsePlans"  class="nav-link">patients</a>
            </div> 
        </div>
    </nav>

    <div style="min-height: 100%; padding-bottom: 5%; padding-top: 5%;  background-image: url('../../../../assets/bghome.png'); background-size: cover;">
        <div class="home-content active" id="home">
            home ka data
        </div>

        <app-login class="home-content" id="login"></app-login>
        <app-registration class="home-content" id="register"></app-registration>
        <app-feedback class="home-content" id="feedback"></app-feedback>
        <app-about-us class="home-content" id="aboutUs"></app-about-us>
    </div>
</div>