
    <div class="login-form" style="background-color: aliceblue;">
        <h2>Login Form</h2>
        <form #formData=ngForm  (ngSubmit)="readFormData(formData)">
            <input type="email" placeholder="Email Address" name="email"  required #email="ngModel"  ngModel>
            <span style="color:red"  *ngIf="email.touched && email.invalid" >Email is required</span>
            <input type="password" placeholder="Password" required name="password" #password="ngModel"   ngModel>
            <span style="color:red"   *ngIf="password.touched && password.invalid" >Password is mandartory</span>
            <div style="display: flex; justify-content: space-between; padding-left: 8%;">
                <label for="role_admin" style="flex: 0.8;">
                    <input type="radio" id="role_admin" name="role" value="ADMIN" required [(ngModel)]="role"> 
                        Admin
                </label>
                <label for="role_patient" style="flex: 0.8;">
                    <input type="radio" id="role_patient" name="role" value="PATIENT" required [(ngModel)]="role"> 
                    Patient
                </label>
                <label for="role_provider" style="flex: 1.2;">
                    <input type="radio" id="role_provider" name="role" value="HEALTH_CARE_PROVIDER" required [(ngModel)]="role"> 
                    Health Care Provider
                </label>
                <label for="role_insurance" style="flex: 1.2;">
                    <input type="radio" id="role_insurance" name="role" value="INSURANCE_COMPANY" required [(ngModel)]="role">
                     Insurance Company
                </label>
            </div>
            <button type="submit" style="font-size: 115%;" [disabled]="formData.invalid">
                Login
            </button>
            <p style="margin:auto; padding: 5%;">New to our Website ? <a (click)="goToRegistration()">Register now</a></p>
        </form>
    </div>


