<nav class="navbar sticky-top navbar-dark bg-dark navbar-toggler" style="width: 100%;">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarTogglerDemo01">
        <div class="d-flex flex-lg-row">
            <a  routerLink="/healthCareProvider/home" class="nav-link">Home </a>
            <a  routerLink="/healthCareProvider/invoiceHistory" class="nav-link" href="#">Invoice History</a>
            <a  routerLink="/healthCareProvider/patient" class="nav-link" href="#">View Patient Details</a>
            <a  routerLink="/healthCareProvider/profile" class="nav-link" href="#">My Profile</a>
        </div>
    </div>
</nav>
