<div style="margin-top: 2%; margin-left: 2%; margin-right: 2%;">
    <div class="d-flex container" style="margin-bottom: 2%;">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-outline-info ml-3" >
        <i class="bi bi-search"></i>
        Search By Id
      </button>
  </div>
  <div style="min-width: 100%; overflow-x: scroll; max-width: 100vh; width: 100vh;">
      <table class="table mt-10% table-hover table-bordered text-center">
          <thead class="thead-dark">
            <tr>
              <th>#invoiceId</th>
              <th>Invoice-Date</th>
              <th>Inivoice-Due-Date</th>
              <th>patient Name</th>
              <th>patient Address</th>
              <th>Invoice Tax</th>
              <th>Consulting Fees</th>
              <th>Diagnostic test fees</th>
              <th>Diagnostic Scan Fees</th>
              <th>Calculated Amount</th>
              <th>Invoice Status</th>
              <th>Health Care Provider Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoiceList">
              <th>{{invoice.invoiceId}}</th>
              <td>{{invoice.invoiceDate}}</td>
              <th>{{invoice.invoiceDueDate}}</th>
              <th>{{invoice.patientName}}</th>
              <td>{{invoice.patientAddress}}</td>
              <th>{{invoice.invoiceTax}}</th>
              <th>{{invoice.consultingFees}}</th>
              <th>{{invoice.diagnosticTestFees}}</th>
              <td>{{invoice.diagnosticScanFees}}</td>
              <th>{{invoice.calculatedAmount}}</th>
              <th>{{invoice.invoiceStatus}}</th>
              <td>{{invoice.healthCareProviderId}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div >
