<app-patient></app-patient>

<h1>Invoice History</h1>

<div style="margin-top: 2%;">
    <div class="d-flex container" style="margin-bottom: 2%;">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-outline-info ml-3">Search By Id</button>
      <button type="button" class="btn btn-outline-info ml-3">Search By Patient Name</button>
  </div>
  <div style="min-width: 100%; overflow-x: scroll; max-width: 100vh; width: 100vh;">
      <table class="table mt-10% table-hover table-bordered text-center">
          <thead class="thead-dark">
            <tr>
              <th>#invoiceId</th>
              <th>Invoice-Date</th>
              <th>Inivoice-Due-Date</th>
              <th>patient Name</th>
              <th>patient Address</th>
              <th>Invoice Tax</th>
              <th>Consulting Fees</th>
              <th>Diagnostic test fees</th>
              <th>Diagnostic Scan Fees</th>
              <th>Calculated Amount</th>
              <th>Invoice Status</th>
              <th>Health Care Provider Id</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
            </tr>
            <tr>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
            </tr>
            <tr>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
              <th>Status</th>
              <th>1</th>
              <td>Mark</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div >

